.body {
  background-color: #f1f1f1;
}
.product {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.product__id {
  display: none;
}
.product__img {
  width: 100%;
}
.product__info {
  padding: 0 10px;
}
.product__info__name {
  color: black;
}
.product__purchase {
  background-color: #f1f1f1;
  width: max-content;
  padding: 20px;
  border-radius: 6px;
}
.product__info__price {
  color: #cb0000;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0;
}
.product__info__des {
  padding-top: 20px;
  font-size: 16px;
  text-align: justify;
}
input[type="number"],
input[type="submit"] {
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 4px;
}
input[type="number"] {
  text-align: center;
  width: 80px;
  padding-right: 0;
}
input[type="submit"] {
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: var(--text-secondary);
  &:hover {
    opacity: 0.5;
  }
}
