:root {
  --text-primary: #09597b;
  --text-secondary: #9fb86f;
  --text-normal: #838d8f;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #838d8f;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input:focus,
input {
  outline: none;
  border: none;
}
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
